.btn {
  color: $font-color-second;
  font-family: $font-btn;
  text-transform: uppercase;
  width: auto;
  border: 0;
  line-height: 1;
  padding: 0.2rem 1rem;

  &:hover {
    text-decoration: none;
  }

  &--red {
    background: $accent;
    color: white;

    &:hover {
      background: $black;
    }
  }

  &--large {
    @extend .heading-md;
  }

  &--arrow {
    @extend .arrow;
  }
}
