.js-testimonial-carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  outline: 0;

  &__slide {
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
