html {
  font-size: $base-font-size;
}

.body-font {
  font-family: Arial, Helvetica, sans-serif; //TODO: get font
  font-size: 1rem;
  line-height: 1.4rem;
}

.heading {
  font-family: $font-heading;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.heading-sm {
  @extend .heading;

  font-size: 1rem;
}

.heading-md {
  @extend .heading;

  font-size: 2rem;
}

.heading-lg {
  @extend .heading;

  font-size: 3rem;
}
