html {
  font-size: $base-font-size;
}

.body-font {
<<<<<<< HEAD
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: $font-color-primary;
}

.body-font--color-second {
  @extend .body-font;

  color: $font-color-second;
=======
  font-family: Arial, Helvetica, sans-serif; //TODO: get font
  font-size: 1rem;
  line-height: 1.4rem;
>>>>>>> ac3fc0c5e923cbcf87f45115a86989eb579480e3
}

.heading {
  font-family: $font-heading;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $font-color-primary;

  &--accent {
    color: $accent !important;
  }
}

.heading-sm {
  @extend .heading;

  font-size: 1rem;
}

<<<<<<< HEAD
.heading-md {
  @extend .heading;

  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.4rem;
  }
=======
.heading-sm {
  @extend .heading;

  font-size: 1rem;
}

.heading-md {
  @extend .heading;

  font-size: 2rem;
>>>>>>> ac3fc0c5e923cbcf87f45115a86989eb579480e3
}

.heading-lg {
  @extend .heading;

<<<<<<< HEAD
  font-size: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
=======
  font-size: 3rem;
>>>>>>> ac3fc0c5e923cbcf87f45115a86989eb579480e3
}
