/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Theme Colors **/
$primary: #303030;
$secondary: #262626;
$accent: #3ef3ec;
$font-color: white;
