/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Theme Colors **/
$primary: white;
$second: #f7f7f7;
$third: black;
$accent: #ee0c37;

/** Fonts **/
$base-font-size: 16px;
$font-primary: "Josefin Sans", sans-serif;
$font-heading: $font-primary;
$font-btn: $font-primary;

$font-color-primary: $third;
$font-color-second: $primary;
